<!DOCTYPE html>
<html>
<head>
  <title>Reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<center><body>
<div id="heading">
  <h1>Brogre Blogs R' Us</h1>
  <button id="logout"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
</div>
<%= yield %>

</body></center>
</html>
